<mat-sidenav-container>
  <mat-sidenav-content>
    <app-front-header></app-front-header>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <h2 class="underlineHover" routerLink="/login" routerLinkActive="active"> Sign In </h2>
        <div class="center">
          <img src="assets/img/login.png" id="icon" alt="User Icon">
        </div>


        <!--login form-->
        <form [formGroup]="loginForm" (submit)="loginForm.valid && onSubmit()">
          
          <input type="text" formControlName="email" placeholder="Email">

          <input type="password" formControlName="password" placeholder="Password">

          <input type="submit" value="Sign-In">

        </form>
        <div class="alert" *ngIf="errorMessage">{{errorMessage}}</div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>